@media (max-width: 820px) {
    .body{
        font-size: 14px;
    }
    .bayan{
        max-width: 35rem;
    }
    .bayan:hover{
        max-width: 30rem;
    }
    }

@media (max-width: 320px) {
    .body{
        font-size: 12px;
    }
    .bayan{
        max-width: 14rem;
    }
    .bayan:hover{
        max-width: 17rem;
    }
    img{
        max-width: 14em;
        padding: 1em;
    }
}