*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
}

body{
    background-color: #5e5749;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #cdcdb3;
}
.bayan{
    max-width: 600px;
    margin: 20px auto ;
    max-height: 30px;
}
.bayan__item{
    border: 2px solid #cdcdb3;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}
.bayan:hover{
    color: #f7db4c;
    max-width: 650px;
    transition: .2s ease-out;
    max-height: 40px;
    font-size: 18px;
}
.bayan__item-title{
    display:block;
    font-weight: 600;
    padding:10px 15px;
    transition: background .2s ease-out;
    cursor: pointer;
    position: relative;
}
.bayan__item-title:hover::after{
    content: '';
    display: block;
    background-image: url(./img/arrow-down-hover.png);
    background-repeat: round;

    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%) ;
}
.bayan__item-title::after{
    content: '';
    display: block;
    background-image: url(./img/arrow-down-normal.png);
    background-repeat: round;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%) ;
}
.bayan__item-input:checked ~ .bayan__item-title::after{
    content: '';
    display: block;
    background-image: url(./img/arrow-up-normal.png);
    background-repeat: round;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%) ;
}
.bayan__item-title:hover ,
.bayan__item-input:checked ~ .bayan__item-title {
    background-color: #f7db4c;
    color: #5e5749;
    border-radius: 10px;
}
.bayan__item-input {
    display: block;
    width: 0;
    height: 0;
    appearance: none;
}
.bayan__item-input:checked ~ .bayan__item-img {
    display: block;
    text-align: center;
}
.bayan__item-img{
    display: none;
}
img{
    width: 300px;
    height: 300px;
    padding: 10px;
}