*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
}
body{
    background-color: #5e5749;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #cdcdb3;
}
.container{
    margin: 0 auto;
    width: 1200px; 
    padding: 0 15px;
}
.bayan{
    max-width: 600px;
    margin: 20px auto ;
}
.bayan__item{
    border: 2px solid #cdcdb3;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}
.bayan__item-title{
    display:block;
    font-weight: 400;
    padding:10px 15px;
    transition: background .2s ease-out;
    background:none;
}
.bayan__item-title:hover{
    background-color: #f7db4c;
    color: #5e5749;
    border-radius: 10px;
}
.bayan__item-input {
    display: block;
    width: 0;
    height: 0;
    appearance: none;
}
.bayan__item-input:checked + .bayan__item-img {
    display: block;
    text-align: center;
}
.bayan__item-img{
    display: none;
    font-size: 14px;
}
img{
    width: 400px;
    height: 400px;
    padding: 10px;
}
